.forecast-container {
  display: flex;

  &__item {
    display: flex;
    flex-direction: column;
    width: 33%;
    margin: 10px;
    text-align: center;
    border: grey solid 1px;
    border-radius: 5px;
    position: relative;

    @media screen and (max-width: 768px){
      width: 90%;
    }
  }

  @media screen and (max-width: 768px){
    flex-direction: column;
  }
}
