.text {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  color: #FFFFFF;

  &__search {
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    text-transform: uppercase;
  }

  &__coords {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-align: right;
    text-transform: capitalize;
  }

  &__medium {
    font-weight: bold;
    font-size: 22px;
    line-height: 37px;
    text-transform: uppercase;
  }
}
